<main class="index">

  <header class="masterhead d-flex">
    <div class="container text-center my-auto">
     <h1 class="mb-1">Favourite book links</h1>
     <h3 class="mb-5">
       <em>Store your favourite book links here</em>
     </h3>
     <a href="/signin" class="btn btn-primary">Let's go for it</a>
    </div>

  </header>
</main>